<form method="post" action="{{ path('app_profile_delete', {'id': user.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer votre profil ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button class="btn">Supprimer mon profil</button>
</form>
