{% extends 'base.html.twig' %}

{% block title %}The Legend Of Zelda: The Great Forum{% endblock %}

{% block body %}
    <h1>Modifier mon profil</h1>

    {{ include('profile/_form.html.twig', {'button_label': 'Continuer'}) }}


    <a href="{{ path('app_profile_show') }}">Retour au profil</a>

    {{ include('profile/_delete_form.html.twig') }}
{% endblock %}
