<div class="sheika">
    <svg width="3012" height="60" viewBox="0 0 3012 104" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_125_48)">
            <path d="M5.82031 17.0591L23.2085 -0.329102V86.6118H92.7612V17.0591H52.1646V57.6558H81.1934V75.0439H52.1646L34.7764 57.6558V17.0591L52.1646 -0.329102H92.7612L110.149 17.0591V86.6118L92.7612 104H23.2085L5.82031 86.6118V17.0591ZM63.8052 28.627H81.1934V46.0151H63.8052V28.627ZM121.645 -0.329102H139.033V17.0591H121.645V-0.329102ZM208.585 -0.329102H225.974V17.0591H208.585V-0.329102ZM150.601 -0.329102H167.989V28.627L150.601 46.0151H121.645V28.627H150.601V-0.329102ZM179.629 -0.329102H197.018V28.627H225.974V46.0151H197.018L179.629 28.627V-0.329102ZM139.033 104L121.645 86.6118V75.0439L139.033 57.6558H208.585L225.974 75.0439V86.6118L208.585 104V75.0439H139.033V104ZM150.601 86.6118H197.018V104H150.601V86.6118ZM237.469 17.0591L254.857 -0.329102H266.425L283.813 17.0591V28.627L266.425 46.0151H254.857V57.6558H266.425L283.813 75.0439V86.6118L266.425 104H254.857L237.469 86.6118H266.425V75.0439H254.857L237.469 57.6558V46.0151L254.857 28.627H266.425V17.0591H237.469ZM341.798 17.0591L324.41 -0.329102H312.842L295.454 17.0591V28.627L312.842 46.0151H324.41V57.6558H312.842L295.454 75.0439V86.6118L312.842 104H324.41L341.798 86.6118H312.842V75.0439H324.41L341.798 57.6558V46.0151L324.41 28.627H312.842V17.0591H341.798ZM353.293 17.0591L370.681 -0.329102H440.234L457.622 17.0591V86.6118L440.234 104V17.0591H353.293ZM353.293 28.627H411.278L428.666 46.0151V86.6118L411.278 104H370.681L353.293 86.6118H411.278V46.0151H353.293V28.627ZM353.293 57.6558H399.637V75.0439H353.293V57.6558ZM469.117 -0.329102H486.505V17.0591H469.117V-0.329102ZM556.058 -0.329102H573.446V17.0591H556.058V-0.329102ZM498.073 17.0591L515.461 -0.329102H527.102L544.49 17.0591V46.0151H527.102V17.0591H515.461V46.0151H498.073V17.0591ZM469.117 28.627H486.505V57.6558H498.073L515.461 75.0439V86.6118L498.073 104H486.505L469.117 86.6118H498.073V75.0439H486.505L469.117 57.6558V28.627ZM573.446 28.627H556.058V57.6558H544.49L527.102 75.0439V86.6118L544.49 104H556.058L573.446 86.6118H544.49V75.0439H556.058L573.446 57.6558V28.627ZM584.941 17.0591L602.33 -0.329102H671.882L689.271 17.0591V46.0151H671.882V17.0591H602.33V46.0151H584.941V17.0591ZM584.941 57.6558H602.33V86.6118H613.897V46.0151L631.286 28.627H642.926L660.314 46.0151V86.6118H671.882V57.6558H689.271V86.6118L671.882 104H660.314L642.926 86.6118V46.0151H631.286V86.6118L613.897 104H602.33L584.941 86.6118V57.6558ZM700.766 17.0591L718.154 -0.329102V28.627H729.722V17.0591L747.11 -0.329102H787.707L805.095 17.0591V86.6118L787.707 104V17.0591H747.11V28.627L729.722 46.0151H718.154L700.766 28.627V17.0591ZM758.75 28.627H776.139V86.6118L758.75 104H718.154L700.766 86.6118H758.75V28.627ZM700.766 57.6558H718.154V75.0439H700.766V57.6558ZM729.722 57.6558H747.11V75.0439H729.722V57.6558ZM816.59 -0.329102H833.978V17.0591H816.59V-0.329102ZM845.546 -0.329102H862.934V17.0591H845.546V-0.329102ZM874.575 -0.329102H891.963V17.0591H874.575V-0.329102ZM903.531 -0.329102H920.919V17.0591H903.531V-0.329102ZM833.978 104L816.59 86.6118V46.0151L833.978 28.627H903.531L920.919 46.0151V86.6118L903.531 104V46.0151H833.978V104ZM845.546 104V75.0439L862.934 57.6558H874.575L891.963 75.0439V104H874.575V75.0439H862.934V104H845.546ZM932.414 57.6558H949.802V75.0439H932.414V57.6558ZM932.414 86.6118H949.802V104H932.414V86.6118ZM1019.35 57.6558H1036.74V75.0439H1019.35V57.6558ZM1019.35 86.6118H1036.74V104H1019.35V86.6118ZM932.414 46.0151V17.0591L949.802 -0.329102H961.37L978.758 17.0591V86.6118H990.399V17.0591L1007.79 -0.329102H1019.35L1036.74 17.0591V46.0151H1019.35V17.0591H1007.79V86.6118L990.399 104H978.758L961.37 86.6118V17.0591H949.802V46.0151H932.414ZM1048.24 17.0591L1065.63 -0.329102V28.627H1077.19V17.0591L1094.58 -0.329102H1135.18L1152.57 17.0591V86.6118L1135.18 104V17.0591H1094.58V28.627L1077.19 46.0151H1065.63L1048.24 28.627V17.0591ZM1106.22 28.627H1123.61V86.6118L1106.22 104H1065.63L1048.24 86.6118H1106.22V28.627ZM1048.24 57.6558H1065.63V75.0439H1048.24V57.6558ZM1077.19 57.6558H1094.58V75.0439H1077.19V57.6558ZM1181.45 104L1164.06 86.6118V17.0591L1181.45 -0.329102V104ZM1251 -0.329102L1268.39 17.0591V86.6118L1251 104V-0.329102ZM1193.02 -0.329102H1210.41V46.0151H1193.02V-0.329102ZM1193.02 57.6558H1210.41V104H1193.02V57.6558ZM1222.05 57.6558H1239.44V104H1222.05V57.6558ZM1222.05 46.0151H1239.44V-0.329102H1222.05V46.0151ZM1279.89 17.0591L1297.27 -0.329102V57.6558H1308.84V17.0591L1326.23 -0.329102H1366.83L1384.22 17.0591H1326.23V57.6558L1308.84 75.0439H1297.27L1279.89 57.6558V17.0591ZM1337.87 28.627H1384.22V46.0151H1337.87V28.627ZM1337.87 57.6558H1384.22V75.0439H1337.87V57.6558ZM1279.89 86.6118L1297.27 104H1366.83L1384.22 86.6118H1279.89ZM1395.71 17.0591L1413.1 -0.329102H1482.65L1500.04 17.0591H1395.71ZM1500.04 86.6118L1482.65 104H1413.1L1395.71 86.6118H1500.04ZM1395.71 75.0439H1413.1V57.6558H1395.71V75.0439ZM1424.67 75.0439H1442.06V46.0151L1424.67 28.627H1395.71V46.0151H1424.67V75.0439ZM1453.7 75.0439V46.0151L1471.08 28.627H1500.04V46.0151H1471.08V75.0439H1453.7ZM1482.65 57.6558H1500.04V75.0439H1482.65V57.6558ZM1511.54 17.0591L1528.92 -0.329102H1540.49L1557.88 17.0591V28.627L1540.49 46.0151H1511.54V28.627H1540.49V17.0591H1511.54ZM1569.52 -0.329102V57.6558H1528.92L1511.54 75.0439V86.6118L1528.92 104H1598.48L1615.86 86.6118V17.0591L1598.48 -0.329102V86.6118H1528.92V75.0439H1569.52L1586.91 57.6558V-0.329102H1569.52ZM1656.32 -0.329102H1673.7V17.0591H1656.32V-0.329102ZM1685.34 -0.329102H1702.73V17.0591H1685.34V-0.329102ZM1627.36 57.6558H1644.75V104L1627.36 86.6118V57.6558ZM1714.3 57.6558H1731.69V86.6118L1714.3 104V57.6558ZM1644.75 28.627H1656.32L1673.7 46.0151V86.6118H1685.34V46.0151L1702.73 28.627H1714.3V-0.329102L1731.69 17.0591V28.627L1714.3 46.0151H1702.73V86.6118L1685.34 104H1673.7L1656.32 86.6118V46.0151H1644.75L1627.36 28.627V17.0591L1644.75 -0.329102V28.627ZM1772.14 -0.329102H1818.56V17.0591H1772.14V-0.329102ZM1772.14 28.627H1818.56V46.0151H1772.14V28.627ZM1772.14 57.6558H1818.56V75.0439H1772.14V57.6558ZM1760.57 86.6118H1830.12V-0.329102L1847.51 17.0591V86.6118L1830.12 104H1760.57L1743.18 86.6118V17.0591L1760.57 -0.329102V86.6118ZM1859.01 -0.329102H1876.4V17.0591H1859.01V-0.329102ZM1887.96 -0.329102H1905.35V17.0591H1887.96V-0.329102ZM1887.96 57.6558H1905.35V104H1887.96V57.6558ZM1916.99 57.6558H1934.38V104H1916.99V57.6558ZM1876.4 104L1859.01 86.6118V46.0151L1876.4 28.627H1916.99V-0.329102H1934.38V28.627L1916.99 46.0151H1876.4V104ZM1945.95 -0.329102L1963.34 17.0591V86.6118L1945.95 104V-0.329102ZM1974.83 86.6118H1992.22V104H1974.83V86.6118ZM2061.77 86.6118H2079.16V104H2061.77V86.6118ZM1974.83 46.0151V17.0591L1992.22 -0.329102H2003.79L2021.18 17.0591V28.627H2032.82V17.0591L2050.21 -0.329102H2061.77L2079.16 17.0591V46.0151H2061.77V17.0591H2050.21V28.627L2032.82 46.0151H2021.18L2003.79 28.627V17.0591H1992.22V46.0151H1974.83ZM1974.83 57.6558H2003.79L2021.18 75.0439V86.6118H2032.82V75.0439L2050.21 57.6558H2079.16V75.0439H2050.21V86.6118L2032.82 104H2021.18L2003.79 86.6118V75.0439H1974.83V57.6558ZM2119.61 28.627H2166.03V46.0151H2119.61V28.627ZM2119.61 57.6558H2166.03V75.0439H2119.61V57.6558ZM2137 -0.329102V17.0591H2108.04V86.6118H2137V104H2108.04L2090.66 86.6118V17.0591L2108.04 -0.329102H2137ZM2148.64 -0.329102V17.0591H2177.6V86.6118H2148.64V104H2177.6L2194.99 86.6118V17.0591L2177.6 -0.329102H2148.64ZM2235.44 -0.329102H2281.85V17.0591H2235.44V-0.329102ZM2310.81 86.6118L2293.42 104H2223.87L2206.48 86.6118H2310.81ZM2206.48 17.0591L2223.87 -0.329102V57.6558H2235.44V46.0151L2252.82 28.627H2264.47L2281.85 46.0151V57.6558H2293.42V-0.329102L2310.81 17.0591V57.6558L2293.42 75.0439H2281.85L2264.47 57.6558V46.0151H2252.82V57.6558L2235.44 75.0439H2223.87L2206.48 57.6558V17.0591ZM2426.63 86.6118L2409.25 104H2339.69L2322.3 86.6118H2426.63ZM2351.26 28.627H2368.65V46.0151H2351.26V28.627ZM2380.29 28.627H2397.68V46.0151H2380.29V28.627ZM2409.25 75.0439H2426.63V17.0591L2409.25 -0.329102V75.0439ZM2397.68 -0.329102V17.0591H2339.69V57.6558H2397.68V75.0439H2339.69L2322.3 57.6558V17.0591L2339.69 -0.329102H2397.68ZM2438.13 17.0591L2455.52 -0.329102H2525.07L2542.46 17.0591V28.627L2525.07 46.0151H2484.47V104H2467.08V46.0151L2484.47 28.627H2525.07V17.0591H2455.52V104L2438.13 86.6118V17.0591ZM2496.11 57.6558H2513.5V104H2496.11V57.6558ZM2525.07 57.6558H2542.46V86.6118L2525.07 104V57.6558ZM2582.91 17.0591V57.6558L2600.3 75.0439H2611.94L2629.33 57.6558V17.0591H2658.28L2640.89 -0.329102H2629.33L2611.94 17.0591V57.6558H2600.3V17.0591L2582.91 -0.329102H2571.34L2553.95 17.0591H2582.91ZM2553.95 28.627H2571.34V86.6118H2640.89V28.627H2658.28V86.6118L2640.89 104H2571.34L2553.95 86.6118V28.627ZM2669.78 28.627H2687.17V75.0439H2669.78V28.627ZM2756.72 28.627H2774.11V75.0439H2756.72V28.627ZM2669.78 17.0591L2687.17 -0.329102H2698.73L2716.12 17.0591V28.627H2727.76V17.0591L2745.15 -0.329102H2756.72L2774.11 17.0591H2745.15V28.627L2727.76 46.0151H2716.12L2698.73 28.627V17.0591H2669.78ZM2698.73 86.6118V75.0439L2716.12 57.6558H2727.76L2745.15 75.0439V86.6118H2774.11L2756.72 104H2745.15L2727.76 86.6118V75.0439H2716.12V86.6118L2698.73 104H2687.17L2669.78 86.6118H2698.73ZM2785.6 86.6118L2802.99 104V28.627H2785.6V86.6118ZM2814.56 17.0591V104H2831.95V17.0591L2814.56 -0.329102H2802.99L2785.6 17.0591H2814.56ZM2872.54 -0.329102L2889.93 17.0591V75.0439H2872.54V-0.329102ZM2843.59 -0.329102H2860.97V86.6118H2889.93L2872.54 104H2860.97L2843.59 86.6118V-0.329102ZM2901.43 17.0591L2918.81 -0.329102H2988.37L3005.75 17.0591V57.6558L2988.37 75.0439H2976.8L2959.41 57.6558V28.627H2976.8V57.6558H2988.37V17.0591H2901.43ZM2918.81 86.6118V46.0151H2930.38V75.0439H2947.77V46.0151L2930.38 28.627H2918.81L2901.43 46.0151V86.6118L2918.81 104H2988.37L3005.75 86.6118H2918.81Z" fill="black"/>
        </g>
    </svg>
</div>
<footer>

    <div id="dispoFooter">
        <img alt="logo" src={{ asset("media/Logo.png") }}>
        <table>
            <thead>
                <th>À propos</th>
                <th>Profil</th>
                <th>Liens</th>
            </thead>
            <tbody>
                <tr>
                    <td><a href="#">Qui sommes-nous ?</a></td>
                    <td><a href="#">Mon compte</a></td>
                    <td><a href="#">Facebook</a></td>
                </tr>
                <tr>
                    <td><a href="#">Conditions d'utilisation</a></td>
                    <td><a href="#">Mes articles</a></td>
                    <td><a href="#">Instagram</a></td>
                </tr>
                <tr>
                    <td><a href="#">Respect du RGPD</a></td>
                    <td><a href="#">Mes vidéos</a></td>
                    <td><a href="#">Twitter</a></td>
                </tr>
                <tr>
                    <td><a href="#">Nous contacter</a></td>
                    <td><a href="#">Écrire un article</a></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td><a href="#">Poster une vidéo</a></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</footer>
<style>
    .sheika {
        margin-top: 200px;
        position: relative;
        height: 60px;
        width: 100%;
    }

    .sheika svg {
        height: 100%;
        width: 100%;
    }

    footer {
        height: 410px;
        width: calc(100% - 0px);
        background-color: black;
        bottom: 0;
    }

    footer>#dispoFooter>img {
        margin-top: 20px;
        width: 200px;
        height: 140px;
    }

    footer>#dispoFooter>img:hover {
        cursor: pointer;
    }

    #dispoFooter {
        width: 80%;
        margin: auto;
        padding: 50px 0 ;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    #dispoFooter>table {
        margin-top: 20px;
        width: 50%;
        height: 100%;
        border-collapse: separate;
        text-align: left;
        border-spacing: 15px;
        border: none;
        font-size: 20px;
    }

    #dispoFooter>table>thead {
        color: #B99F65;
        font-size: 20px;
    }

</style>