{% extends 'base.html.twig' %}

{% block title %}The Legend Of Zelda: The Great Forum{% endblock %}

{% block body %}
    {{ include('tool/headerBig.html.twig') }}
    <div class="container">
        <h1>Ajouter une nouvelle vidéo</h1>

        {{ include('profile_videos/_form.html.twig') }}

        <a href="{{ path('app_profile_videos_index') }}">Retour à ma liste</a>
    </div>
{% endblock %}
