{% extends 'base.html.twig' %}

{% block title %}Compte créé !{% endblock %}

{% block body %}
<h1>Compte créé avec succès !</h1>
    Démarrez votre expérience, créez votre premier article :
{% endblock %}
